<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sss.infinity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".api.Appcontroller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_infinity"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYJs6Wjo1w3kRJn6v1_Y4rCym3mNYQjGU" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLocation"
            android:label="Set Location"
            android:theme="@style/AppTheme1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Location"
            android:label="Set Location"
            android:theme="@style/AppTheme1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BeautyServices"
            android:label="Select a service"
            android:theme="@style/AppTheme1"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginOrSignup"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginpageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OtpActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".helpers.SmsReceiver"
            android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".AllServices"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailsActivity"
            android:label="Product details"
            android:theme="@style/AppTheme1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Summary"
            android:screenOrientation="portrait"/>
        <activity android:name=".PaymentActivity"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_882baX2xAWJtwJ"/>
    </application>

</manifest>